<%- include ('../partials/header') %>
<header class="home-cta">
  <h1>
    <strong>Product Site</strong>
    <hr />
    <br />
    <span>Lab 04:</span>
  </h1>
</header>
<%- include ('../partials/footer') %>
